<!DOCTYPE html>
<html>
<head>
  <title>Spread</title>
  <%= stylesheet_link_tag    "spread/application", :media => "all" %>
  <%= javascript_include_tag "spread/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
